:root {
  --main-color: #565e6cff;
  --back-color: #f8fafc;
  --hover-color: #204d76ff;
  --btn-color: #3175b4ff;
  --Dark-Olive-btn: #4b694b;
  --Olive-hover-btn: #198754;
}
.login-card {
  max-width: 480px;
  width: 90%;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
.login-card h2 {
  font-size: 1.4rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.login-card .btn:focus,
.login-card input:focus{
    box-shadow: none;
}
.login-card .btn:not(.special-btn){
    background-color: var(--btn-color);
    color: #fff;
}
.login-card .btn:not(.special-btn):hover{
    background-color: var(--hover-color);
}